:root {
  --color-primary: #3c3c3c;
  --color-primary-light: #727272;
  --color-secondary: #cc6c5a;
  --color-accent: #Cbb79c;
  --color-neutral-beige: #ede7e7;

  --font-primary: "Nunito Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-neutral-beige);
  font-weight: bold;
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-neutral-beige);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-neutral-beige);
}

h4 {
  font-family: var(--font-primary);
  color: var(--color-neutral-beige);
}

a {
  font-family: var(--font-primary);
  color: fff;
  font-weight: bold;
}

ul {
  color: var(--color-primary);
  font-weight: normal;
}

ol {
  color: var(--color-primary);
  font-weight: normal;
}

dl {
  color: var(--color-primary);
  font-weight: normal;
}

cite {
  color: var(--color-primary);
  font-weight: normal;
  font-style: italic;
}

blockquote {
  color: var(--color-primary);
  font-weight: bold;
}

em {
  font-weight: bold;
  color: var(--color-primary);
}


strong {
  font-weight: bold;
  color: var(--color-primary);
}

<abbr> {
  color: var(--color-primary);
  font-weight: normal;
  font-style: italic;
}
