.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
}

.btn-ghost:hover {
  color: var(--color-accent);
  background-color: transparent;
  border: 2px solid var(--color-accent);
  padding: 10px;
}
