.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px;
}

.btn-ghost:hover {
  color: var(--color-accent);
  background-color: transparent;
  border: 2px solid var(--color-accent);
  padding: 5px;
}

.btn-secondary {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary:hover {
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary-onwhite {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary-onwhite:hover {
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}


.btn-secondary-red{
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary-red:hover {
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
