nav li {
  color: #000;
  white-space: nowrap;
}

li a {
  color: #000;
}

a {
  color: #000;
}

.navigation {
  align-items: center;
}

.align {
  align-items: center;
}
a:hover {
  color: var(--color-secondary);
}

.title:hover {
  font-family: 'Amatic SC', cursive;
}

.title {
  font-family: 'Amatic SC', cursive;
}
