.navigation {
  background-color: var(--color-secondary);
}

nav li {
  color: #fff;
}

li a {
  color: #fff;
}

a {
  color: #fff;
}

.navigation a:hover {
  background-color: #fff;
  color: var(--color-secondary);
  padding: .3em;
}
