<div role="nav" class="masthead navigation grid xs-1 s-1 m-1 l-1 island">
  <div class="unit xs-1 s-1 m-1 l-1">
    <header role="banner" class="grid">

      <div class="unit unit-xs-hidden unit-s-hidden unit-m-hidden l-1-4">
        <p class="tena push-0"><a class="title" href="/">Trend-E</a></p>
      </div>
      <div class="unit xs-1 s-1 unit-m-1 unit-l-hidden text-center pad-t">
        <p class="tena pad-b push-0"><a class="title" href="/">Trend-E</a></p>
      </div>

      <div class="unit unit-xs-hidden unit-s-hidden unit-m-hidden l-1-2">
        <nav role="navigation" id="nav tabindex="0">
          <ul class="nav list-group grid pad-t">
            <li class="unit xs-1 s-1 m-1 l-1-3 text-center giga {% if page.highlight_nav == 'products'%}current{% endif %}"><a class="mega not-bold" href="/products/">Eye Glasses</a></li>
            <li class="unit xs-1 s-1 m-1 l-1-3 text-center giga {% if page.highlight_nav == 'products'%}current{% endif %}"><a class="mega not-bold" href="/lens/">Lens Replacement</a></li>
            <li class="unit xs-1 s-1 m-1 l-1-3 text-center giga {% if page.highlight_nav == 'products'%}current{% endif %}"><a class="mega not-bold" href="/discover/">Discover</a></li>
        </nav>
      </div>
      <div class="unit xs-1 s-1 m-1 unit-l-hidden">
        <nav role="navigation" id="nav tabindex="0">
          <ul class="nav list-group grid">
            <li class="unit xs-1 s-1 m-1 l-1-3 text-center mega {% if page.highlight_nav == 'products'%}current{% endif %}"><a class="not-bold" href="/products/">Eye Glasses</a></li>
            <li class="unit xs-1 s-1 m-1 l-1-3 mega text-center {% if page.highlight_nav == 'products'%}current{% endif %}"><a class="not-bold" href="/lens/">Lens Replacement</a></li>
            <li class="unit xs-1 s-1 m-1 l-1-3 mega text-center {% if page.highlight_nav == 'products'%}current{% endif %}"><a class="not-bold" href="#">Discover</a></li>
        </nav>
      </div>

      <div class="unit unit-xs-hidden unit-s-hidden unit-m-hidden l-1-4 text-right pad-t">
        <a href="/cart/"><i class="icon i-32 gutter"><svg><use xlink:href="/images/icons.svg#cart"/>
        </svg></i></a>
        <i class="icon i-32 gutter"><svg><use xlink:href="/images/icons.svg#profile"/>
        </svg></i>
      </div>
      <div class="unit xs-1 s-1 m-1 unit-l-hidden text-center pad-t pad-b">
        <a href="/cart/"><i class="icon i-32 gutter"><svg><use xlink:href="/images/icons.svg#cart"/>
        </svg></i></a>
        <i class="icon i-32 gutter"><svg><use xlink:href="/images/icons.svg#profile"/>
        </svg></i>
      </div>


    </header>
  </div>
</div>
