.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.price {
  color: var(--color-primary);
  text-align: center;
}

.menu-card {
  background:
    url("../images/photography/women-red.jpg") bottom center;
  min-height: 30em;
}

.product-detail {
  background:
    url("../images/photography/floral.png") bottom center;
  min-height: 30em;
}

.product-card-content {
  border: 2px solid var(--color-primary-light);
}

.menu-content {
  vertical-align: middle;
}

.illustration-card-shop {
  background-color: var(--color-accent);
}

.illustration-card-shop h3 {
  text-transform: uppercase;
  color: #fff;
}

.illustration-card-shop p {
  color: #fff;
}

.illustration-card-fab  {
  background-color: var(--color-primary);
}

.illustration-card-fab h3 {
  text-transform: uppercase;
  color: #fff;
}

.illustration-card-fab p {
  color: #fff;
}

.illustration-card-oldies  {
  background-color: var(--color-neutral-beige);
}

.illustration-card-oldies h3 {
  text-transform: uppercase;
  color: var(--color-secondary);
}

.illustration-card-oldies p {
  color: var(--color-secondary);
}

.influencer-card {
  background:
    url("../images/photography/instagram-model-1.jpg") bottom center;
  background-size: cover;
}

.product-detail-content {
  background-color: #fff;
}

.product-detail-title {
  color: var(--color-primary);
}

.price {
  text-align: left;
  font-weight: 100;
}

.dot-1 {
  height: 30px;
  width: 30px;
  background-color: #c6c1a5;
  border-radius: 50%;
  display: inline-block;
}

.dot-2 {
  height: 30px;
  width: 30px;
  background-color: #d6d6d6;
  border-radius: 50%;
  display: inline-block;
}

.information-card {
  border: 3px solid var(--color-primary-light);
}

.details {
  color: var(--color-primary);
}

.detail-bullets li {
  list-style: circle;
}

.banner {
  background:
    url("../images/photography/banner-01.jpg") center;
  min-height: 20em;
}

.banner p {
  color: #fff;
}

.banner h3 {
  color: #fff;
}


em {
    color: var(--color-secondary);
}
